@using Suhoh.Model
@model ViewModel

<div id="divTitle" class="divTitle">
    <table>
        <tr>
            <th id="thTitleHeading1" class="thTitleHeading1">Title</th>
        </tr>
        <tr>
            <th>
                @Html.DevExpress().TextBoxFor(model => model.D3GraphTitleProperty,
                          settings =>
                          {
                              settings.Name = "propertyTitle";
                              settings.Width = 240;
                              settings.Text = "Graph Title";
                              settings.ControlStyle.CssClass = "D3GraphtitlePropertyBox";
                          }
                          ).GetHtml()
            </th>
        </tr>
    </table>
</div>

<div id="divLabel" class="divLabel">
    <table>
        <tr>
            <th id="thLabelHeading1" class="thLabelHeading1">
                Label
            </th>
        </tr>
        <tr>
            <th id="thPercentageChkBox" class="thPercentageChkBox">
                @Html.DevExpress().CheckBoxFor(settings => Model.ChkPercentageLabel,
                    settings =>
                    {
                        settings.Name = "percentageLabel";
                        settings.Text = "Percentage";
                        settings.Properties.ClientSideEvents.CheckedChanged = "chkPieLabelClicked";
                    }).GetHtml()
            </th>
            <th id="thYValueChkBox" class="thYValueChkBox">
                @Html.DevExpress().CheckBoxFor(settings => Model.ChkYValueLabel,
                    settings =>
                    {
                        settings.Name = "yValueLabel";
                        settings.Text = "Y Value";
                        settings.Properties.ClientSideEvents.CheckedChanged = "chkPieLabelClicked";
                    }).GetHtml()
            </th>
            <th id="thXValueChkBox" class="thXValueChkBox">
                @Html.DevExpress().CheckBoxFor(settings => Model.ChkXValueLabel,
                    settings =>
                    {
                        settings.Name = "xValueLabel";
                        settings.Text = "X Value";
                        settings.Properties.ClientSideEvents.CheckedChanged = "chkPieLabelClicked";
                    }).GetHtml()
            </th>
        </tr>
    </table>
</div>

<div id="divXYColumn" class="divXYColumn">
    <table>
        <tr>
            <th id="thXYColumnHeading1" class="thXYColumnHeading1">
                XY Columns
            </th>
        </tr>
        <tr>
            <th id="thXColumnDropDownLabel" class="thXColumnDropDownLabel">
                X Column
            </th>
            <th id="thXColumnDropDown" class="thXColumnDropDown">
                @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
                    settings =>
                    {
                        settings.Name = "xColumnDropDown";
                        settings.Width = 167;
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownWidth = 165;
                    }).BindList(DataEngine.GetXColumn()).GetHtml()
            </th>
        </tr>
        <tr>
            <th id="thYColumnDropDownLabel" class="thYColumnDropDownLabel">
                Y Column
            </th>
            <th id="thYColumnDropDown" class="thYColumnDropDown">
                @Html.DevExpress().ComboBoxFor(model => model.DdYColumn,
                    settings =>
                    {
                        settings.Name = "yColumnDropDown";
                        settings.Width = 167;
                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                        settings.Properties.DropDownWidth = 165;
                    }).BindList(DataEngine.GetYColumn()).GetHtml()
            </th>
        </tr>
    </table>
</div>