@using Suhoh.Model
@model ViewModel

<div style="margin-top: 10px">
    <table>
        @*Alberta Township System Search*@
        <tr>
            <th class="leftPanelATSLabel">Alberta Township System</th>
        </tr>
        <tr>
            <th style="float: left; font-weight: normal; margin-top: 4px; margin-left: 36px; margin-bottom: 2px">Section</th>
            <th style="float: left; font-weight: normal; margin-top: 4px; margin-left: 18px;">Township</th>
            <th style="float: left; font-weight: normal; margin-top: 4px; margin-left: 17px;">Range</th>
            <th style="float: left; font-weight: normal; margin-top: 4px; margin-left: 26px;">Mer.</th>
        </tr>
        <tr>
            <th class="chkLeftPanelATS">
                @Html.DevExpress().CheckBoxFor(settings => Model.ChkLeftPanelATS,
                    settings =>
                    {
                        settings.Name = "chkLeftPanelATS";
                        settings.Text = "";
                        //settings.Properties.ClientSideEvents.CheckedChanged = "chkLeftPanelATSClicked";
                    }).GetHtml()
            </th>
            <th class="cbLeftPanelSearchSEC">
                @Html.DevExpress().ComboBoxFor(model => model.LeftPanelSearchSEC,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchSEC";
                      settings.Width = 47;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 46;
                      //settings.Properties.ClientSideEvents.SelectedIndexChanged = "leftPanelSearchSECChanged";
                  }).BindList(DataEngine.SectionList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchTWP">
                @Html.DevExpress().ComboBoxFor(model => model.LeftPanelSearchTWP,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchTWP";
                      settings.Width = 55;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 54;
                      //settings.Properties.ClientSideEvents.SelectedIndexChanged = "leftPanelSearchTWPChanged";
                  }).BindList(DataEngine.TownshipList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchRGE">
                @Html.DevExpress().ComboBoxFor(model => model.LeftPanelSearchRGE,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchRGE";
                      settings.Width = 47;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 46;
                      //settings.Properties.ClientSideEvents.SelectedIndexChanged = "leftPanelSearchRGEChanged";
                  }).BindList(DataEngine.RangeList()).GetHtml()
            </th>
            <th class="cbLeftPanelSearchMER">
                @Html.DevExpress().ComboBoxFor(model => model.LeftPanelSearchMER,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelSearchMER";
                      settings.Width = 45;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 44;
                      //settings.Properties.ClientSideEvents.SelectedIndexChanged = "leftPanelSearchMERChanged";
                  }).BindList(DataEngine.MeridianList()).GetHtml()
            </th>
        </tr>

        @*Attributes Search*@
        <tr>
            <th class="leftPanelAttributeLabel">Attributes</th>
        </tr>
        <tr>
            <th class="chkLeftPanelAttributeSearch">
                @Html.DevExpress().CheckBoxFor(settings => Model.ChkLeftPanelAttributeSearch,
                    settings =>
                    {
                        settings.Name = "chkLeftPanelAttributeSearch";
                        settings.Text = "";
                        //settings.Properties.ClientSideEvents.CheckedChanged = "chkLeftPanelAttributeSearchClicked";
                    }).GetHtml()
            </th>
            <th class="cbLeftPanelAttributeSearch1">
                @Html.DevExpress().ComboBox(
                  settings =>
                  {
                      settings.Name = "cbLeftPanelAttributeSearch1";
                      settings.Width = 220;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 219;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelAttributeSearch1Changed";
                  }).GetHtml()
            </th>
        </tr>
        <tr>
            <th class="cbLeftPanelAttributeSearch2">
                @Html.DevExpress().ComboBoxFor(model => model.CbLeftPanelAttributeOperator,
                  settings =>
                  {
                      settings.Name = "cbLeftPanelAttributeSearch2";
                      settings.Width = 100;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 99;
                      settings.Properties.Items.Add("=", 1);
                      settings.Properties.Items.Add(">", 2);
                      settings.Properties.Items.Add(">=", 3);
                      settings.Properties.Items.Add("<", 4);
                      settings.Properties.Items.Add("<=", 5);
                      settings.Properties.Items.Add("Like", 6);
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelAttributeSearch2Changed";
                  }).GetHtml()
            </th>
        </tr>
        <tr>
            <th class="cbLeftPanelAttributeSearch3">
                @Html.DevExpress().ComboBox(
                  settings =>
                  {
                      settings.Name = "cbLeftPanelAttributeSearch3";
                      settings.Width = 220;
                      settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                      settings.Properties.DropDownWidth = 219;
                      settings.Properties.ClientSideEvents.SelectedIndexChanged = "cbLeftPanelAttributeSearch3Changed";
                  }).BindList(DataEngine.SectionList()).GetHtml()
            </th>
        </tr>
        <tr>
            <th class="btnLeftPanelAttributeSearch">
                @Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "btnLeftPanelAttributeSearch";
                    settings.Width = 60;
                    settings.Text = "Search";
                    settings.ClientSideEvents.Click = "btnLeftPanelAttributeSearchClick";
                }
                ).GetHtml()
            </th>
        </tr>
    </table>
</div>