
@using Suhoh.Model
@model ViewModel


@Html.DevExpress().RadioButtonListFor(model => Model.ActivePanelSettings,
    settings =>
    {
        settings.Name = "radioActivePanelSettings";
        settings.Properties.RepeatDirection = System.Web.UI.WebControls.RepeatDirection.Horizontal;
        settings.Properties.Items.Add("1 Panel", 1);
        settings.Properties.Items.Add("2 Panels", 2);
        settings.Properties.Items.Add("3 Panels", 3);
        settings.Properties.Items.Add("4 Panels", 4);
        settings.Width = 240;
        settings.Height = 28;
        settings.ControlStyle.CssClass = "";
        settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
        settings.Properties.ValueType = typeof(Int32);
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "radioActivePanelSettingsClicked";
    }).GetHtml()

@*1 panel*@
<div id="divOnePanel">
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb1PanelType";
        settings.Width = 250;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 0;
        settings.Properties.EnableClientSideAPI = true;
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
</div>

@*2 panels*@
<div id="divTwoPanels">
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb2_1PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 0;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb2_2PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 1;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
</div>

@*3 panels*@
<div id="divThreePanels">
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb3_1PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 0;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb3_2PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 1;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb3_3PanelType";
        settings.Width = 250;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 2;
        settings.ControlStyle.CssClass = "leftPanelSettings3";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
</div>

@*4 panels*@
<div id="divFourPanels">
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb4_1PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 0;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb4_2PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 1;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettingsFloatLeft";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb4_3PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 2;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettings3";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.DdXColumn,
    settings =>
    {
        settings.Name = "cb4_4PanelType";
        settings.Width = 120;
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
        settings.SelectedIndex = 2;
        settings.Properties.EnableClientSideAPI = true;
        settings.ControlStyle.CssClass = "leftPanelSettings3";
        settings.Properties.ClientSideEvents.SelectedIndexChanged = "";
    }).BindList(DataEngine.GetPaneType()).GetHtml()
</div>

@Html.DevExpress().Button(
settings =>
{
    settings.Name = "btnChangeLayout";
    settings.Width = 120;
    settings.Text = "Change Layout";
    settings.ControlStyle.CssClass = "btnChangeLayout";
    settings.ClientSideEvents.Click = "btnChangeLayoutClicked";
}
).GetHtml()